<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Example</title>
  <link href="https://example.com/atom.xml" rel="self"/>
  <link href="https://example.com/"/>
  <id>https://example.com/</id>
  <updated>{{ posts[0].date | date: "%Y-%m-%dT00:00:00Z" }}</updated>
  {%- assign posts = posts | reverse %}
  {%- for post in posts %}
  <entry>
    <id>https://example.com{{ post.url }}</id>
    <author><name>Alan Smithee</name></author>
    <title>{{ post.info.title }}</title>
    <link href="https://example.com{{ post.url }}"/>
    <published>{{ post.date | date: "%Y-%m-%dT00:00:00Z" }}</published>
    <content type="html">{{ post.content | escape }}</content>
  </entry>
  {%- endfor %}
</feed>
