<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {%if info.title %}{{ info.title }} | {% endif %}
      Zack's Website Generator
    </title>
    <meta charset="UTF-8" />
    {% if info.summary %}
      <meta name="description" content="{{ info.summary }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
        rel="stylesheet"
        href="/static/css/screenv2.css"
        type="text/css"
        media="screen, projection"
        />
  </head>
  <body>
    <div class="main-container">
      <div class="main wrapper clearfix">
        <article>
          {% if info.illustration %}
            <figure>
              <img src="{{ info.illustration }}" />
              {% if info.caption %}
                <figcaption>{{ info.caption }}</figcaption>
              {% endif %}
            </figure>
          {% endif %}
          {% if info.title %}
            <h2>
              <a href="{{url}}">{{ info.title }}</a>
              {% if date %}
                <span class="alt">{{ date | date: "%A %B %e, %Y" }}</span>
              {% endif %}
            </h2>
          {% endif %}
          {{ content }}

          <hr class="inter" />
        </article>

        <aside id="recent-posts">
          <ul>
            {% for post in posts %}
                <li>
                  <a href="{{ post.url }}">{{ post.info.title }}</a>
                  <div class="postDate alt">{{ post.date | date: "%Y %b %e" }}</div>
                </li>
            {% endfor %}
          </ul>
        </aside>
      </div>
    </div>
  </body>
</html>
