/* CSS reset https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p {
  overflow-wrap: break-word;
}

:root {
  --document-font: sans-serif;
  --alt-font: serif;
  --header-font: sans-serif;
  --alt-header-font: serif;
}

/* Color palette */
:root {
  --top-header-text: #999;
  --header-text: #555;
  --alt-text: #666;
  --link-text: rgb(0, 102, 153);
  --document-text: #1a1a1a;
  --document-bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --top-header-text: #dcb;
    --header-text: #dcb;
    --alt-text: #ccc;
    --link-text: rgb(92, 182, 220);
    --document-text: #eaeaea;
    --document-bg: #2a2a2c;
  }
}

/*
 * V2 Screen Layout.
 * Uses existing classes and rules from screen.css.
 */
pre {
  white-space: pre-wrap;
}
code {
  font-size: 14px;
}

body {
  background: var(--document-bg);
  color: var(--document-text);
  font-family: var(--document-font);
  font-size: 18px;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
h1 {
  text-transform: uppercase;
  font-family: var(--header-font);
  font-weight: normal;
}
a:link,
a:visited {
  color: var(--link-text);
  text-decoration: none;
}
header,
header a:link,
header a:visited {
  color: var(--top-header-text);
}

blockquote {
  color: var(--alt-text);
  border-left: 1px solid var(--alt-text);
  padding: 0 1rem;
  margin-left: 1rem;
}

.header {
  margin-bottom: 2rem;
}
article {
  line-height: 1.75;
}
article pre {
  line-height: 1.2;
}

article h2 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 2rem;
}
article h2 span {
  display: block;
  font-size: 16px;
  font-family: var(--alt-font);
  font-weight: normal;
  margin-top: 0.5rem;
}
article :is(h2, h3, h4, h5, h6),
article :is(h2, h3, h4, h5, h6) :is(a:link, a:visited) {
  font-family: var(--alt-header-font);
  margin-top: 2rem;
  color: var(--header-text);
}
article h2:first-child {
  margin-top: 0;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  gap: 3rem;
}
.main article {
  flex-basis: 70%;
  flex: 1 1;
}
.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.alt {
  color: var(--alt-text);
  font-style: italic;
  font-family: var(--alt-font);
}
.wrapper {
  width: 90%;
  margin: 0 5%;
}
#recent-posts {
  flex-shrink: 1;
  flex-basis: 30%;
}
#recent-posts ul {
  list-style: none;
  font-size: 18px;
}
#recent-posts li {
  font-weight: 500;
  margin-bottom: 2rem;
  font-family: var(--alt-header-font);
}
#recent-posts .postDate {
  font-size: 14px;
}
#recent-posts li.alt {
  font-size: 16px;
}
#recent-posts ul {
  padding-left: 0;
}
article > * {
  margin-bottom: 1rem;
}
footer ul {
  list-style: none;
  line-height: 2;
}
footer ul li {
  text-align: right;
}

@media only screen and (min-width: 1040px) {
  .main {
    flex-direction: row;
  }
  .inter {
    display: none;
  }
  .wrapper {
    width: 900px;
    margin: 0 auto;
  }
}
